<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.caresociousapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashScreenOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreenTwo" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SelectServiceActivity" />
        <activity android:name=".NavigationEventActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".MedicalRecordActivity" />
        <activity android:name=".FamilyMemberActivity" />
        <activity android:name=".ServiceRequestActivity" />
        <activity android:name=".MedicamentActivity" />
        <activity android:name=".TreatmentActivity" />
        <activity android:name=".RequestPermissionActivity" />
        <activity android:name=".LoginNumberActivity" />
        <activity android:name=".LoginPasswordActivity" />
        <activity android:name=".CountryCodeActivity" />
        <activity android:name=".NavigationDrawerListActivity" />
        <activity android:name=".DirectiveActivity" />
        <activity android:name=".AddFamilyMemberMobileNumberActivity" />
        <activity android:name=".SecurityCodeActivity" />
        <activity android:name=".SmsPopupActivity" />
        <activity android:name=".EditProfileDetailsActivity" />
        <activity android:name=".ProfileMedicalInfo" />
        <activity android:name=".ProfilePersonToContactActivity" />
        <activity android:name=".ProfilePaymentMethodActivity" />
        <activity android:name=".CreditCardPopup" />
        <activity android:name=".InviteFriendActivity" />
        <activity android:name=".ProfileSecurityActivity" />
        <activity android:name=".ProfileSecurityActivity_two" />
        <activity android:name=".LibraryActivity"></activity>
    </application>

</manifest>